<a href="https://colab.research.google.com/github/kemaladamr/NLP_Fundamentals/blob/main/Activity3_ExtractingSpecificFeatures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.datasets import fetch_20newsgroups
import re
import string
import pandas as pd

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [2]:
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [3]:
newsgroups_data_sample = fetch_20newsgroups(subset='train')
lemmatizer = WordNetLemmatizer()

In [4]:
newsgroups_text_df = pd.DataFrame({'text': newsgroups_data_sample['data']})
newsgroups_text_df.head()

                                                text
0  From: lerxst@wam.umd.edu (where's my thing)\nS...
1  From: guykuo@carson.u.washington.edu (Guy Kuo)...
2  From: twillis@ec.ecn.purdue.edu (Thomas E Will...
3  From: jgreen@amber (Joe Green)\nSubject: Re: W...
4  From: jcm@head-cfa.harvard.edu (Jonathan McDow...

In [5]:
stop_words = stopwords.words('english')

# adding individual printable characters to list of stop words so that they get
# renoved along with the stopwords
stop_words = stop_words + list(string.printable)

newsgroups_text_df['cleaned_text'] = newsgroups_text_df['text'].apply(
    lambda x: ' '.join([lemmatizer.lemmatize(word.lower())
    for word in word_tokenize(re.sub(r'([^\s\w]|_)+', ' ', str(x))) if word.lower()
    not in stop_words])
)

In [8]:
bag_of_words_model = CountVectorizer(max_features=20)
bag_of_words_df = pd.DataFrame(bag_of_words_model.fit_transform(
    newsgroups_text_df['cleaned_text']).todense())
bag_of_words_df.columns = sorted(bag_of_words_model.vocabulary_)
bag_of_words_df.head()

   article  ax  com  edu  get  ...  subject  time  university  would  writes
0        0   0    0    2    0  ...        1     0           1      0       0
1        1   0    0    3    0  ...        1     0           1      0       0
2        0   0    0    2    1  ...        1     1           1      0       0
3        1   0    2    2    1  ...        1     0           0      0       1
4        2   0    2    3    0  ...        1     0           0      0       1

[5 rows x 20 columns]

In [9]:
tfidf_model = TfidfVectorizer(max_features=20)
tfidf_df = pd.DataFrame(tfidf_model.fit_transform(
    newsgroups_text_df['cleaned_text']).todense())
tfidf_df.columns = sorted(tfidf_model.vocabulary_)
tfidf_df.head()

    article   ax       com       edu  ...      time  university  would    writes
0  0.000000  0.0  0.000000  0.522408  ...  0.000000    0.353795    0.0  0.000000
1  0.282739  0.0  0.000000  0.691591  ...  0.000000    0.312248    0.0  0.000000
2  0.000000  0.0  0.000000  0.411404  ...  0.345624    0.278619    0.0  0.000000
3  0.234838  0.0  0.499523  0.382949  ...  0.000000    0.000000    0.0  0.225159
4  0.493319  0.0  0.524670  0.603340  ...  0.000000    0.000000    0.0  0.236494

[5 rows x 20 columns]

In [11]:
rw = 2
list(bag_of_words_df.columns[bag_of_words_df.iloc[rw,:] == bag_of_words_df.iloc[rw,:].max()])

['edu', 'line']

In [12]:
rw = 2
list(tfidf_df.columns[tfidf_df.iloc[rw,:] == tfidf_df.iloc[rw,:].max()])

['edu']

In [13]:
bag_of_words_df[bag_of_words_df['line']!=0].shape[0]

11282

In [14]:
bag_of_words_df[bag_of_words_df['edu']!=0].shape[0]

7393