<a href="https://colab.research.google.com/github/kemaladamr/NLP_Fundamentals/blob/main/Activity2_Extract_General_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Extracting General Features from Text

In [10]:
import nltk
nltk.download('tagsets')
nltk.download('punkt')

[nltk_data] Downloading package tagsets to /root/nltk_data...
[nltk_data]   Package tagsets is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [5]:
import pandas as pd
from string import punctuation
from nltk.data import load
nltk.download('averaged_perceptron_tagger')
from nltk import pos_tag
from nltk import word_tokenize
from collections import Counter

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [8]:
tagdict = load('help/tagsets/upenn_tagset.pickle')
list(tagdict.keys())

['LS',
 'TO',
 'VBN',
 "''",
 'WP',
 'UH',
 'VBG',
 'JJ',
 'VBZ',
 '--',
 'VBP',
 'NN',
 'DT',
 'PRP',
 ':',
 'WP$',
 'NNPS',
 'PRP$',
 'WDT',
 '(',
 ')',
 '.',
 ',',
 '``',
 '$',
 'RB',
 'RBR',
 'RBS',
 'VBD',
 'IN',
 'FW',
 'RP',
 'JJR',
 'JJS',
 'PDT',
 'MD',
 'VB',
 'WRB',
 'NNP',
 'EX',
 'NNS',
 'SYM',
 'CC',
 'CD',
 'POS']

In [11]:
# i) number of occurrences of each parts of speech
data = pd.read_csv('data.csv', header=0)
pos_di = {}
for pos in list(tagdict.keys()):
    pos_di[pos] = []
for doc in data['text']:
    di = Counter([j for i, j in pos_tag(word_tokenize(doc))])
    for pos in list(tagdict.keys()):
        pos_di[pos].append(di[pos])

feature_df = pd.DataFrame(pos_di)

In [12]:
feature_df.head()

   LS  TO  VBN  ''  WP  UH  VBG  JJ  ...  WRB  NNP  EX  NNS  SYM  CC  CD  POS
0   0   0    0   0   1   0    0   0  ...    0    0   0    1    0   0   0    0
1   0   0    0   0   0   0    0   0  ...    0    0   0    1    0   0   0    0
2   0   0    0   0   0   0    0   0  ...    0    0   0    0    0   0   0    0
3   0   0    0   0   1   0    0   0  ...    0    0   0    0    0   0   0    0
4   0   0    0   0   0   0    0   1  ...    0    0   0    0    0   0   0    0

[5 rows x 45 columns]

In [16]:
# ii) number of punctuations
feature_df['num_of_unique_punctuations'] = data['text']\
.apply(lambda x: len(set(x).intersection(set(punctuation))))

In [17]:
feature_df['num_of_unique_punctuations'].head()

0    0
1    0
2    1
3    1
4    0
Name: num_of_unique_punctuations, dtype: int64

In [18]:
# iii) number of capital and small letter words
feature_df['number_of_capital_words'] = data['text'].apply(lambda x: \
                                                              len([word for word in\
                                                                   word_tokenize(str(x)) \
                                                                   if word[0].isupper()]))
feature_df['number_of_capital_words'].head()

0    1
1    1
2    1
3    1
4    1
Name: number_of_capital_words, dtype: int64

In [19]:
feature_df['number_of_small_words'] = data['text'].apply(lambda x: \
                                                              len([word for word in\
                                                                   word_tokenize(str(x)) \
                                                                   if word[0].islower()]))
feature_df['number_of_small_words'].head()

0    4
1    3
2    7
3    3
4    2
Name: number_of_small_words, dtype: int64

In [20]:
# iv) number of alphabets
feature_df['number_of_alphabets'] = data['text'].apply(lambda x: \
                                                       len([ch for ch in str(x) \
                                                            if ch.isalpha()]))
feature_df['number_of_alphabets'].head()

0    19
1    18
2    28
3    14
4    13
Name: number_of_alphabets, dtype: int64

In [21]:
# v) number of digits
feature_df['number_of_digits'] = data['text'].apply(lambda x: \
                                                    len([ch for ch in str(x) \
                                                         if ch.isdigit()]))

In [22]:
feature_df['number_of_digits'].head()

0    0
1    0
2    0
3    0
4    0
Name: number_of_digits, dtype: int64

In [23]:
# vi) number of words
feature_df['number_of_words'] = data['text'].apply(lambda x: \
                                                   len(word_tokenize(str(x))))
feature_df['number_of_words'].head()

0    5
1    4
2    9
3    5
4    3
Name: number_of_words, dtype: int64

In [25]:
# vii) number of white spaces for each sentence
feature_df['number_of_white_spaces'] = data['text'].apply(lambda x: \
                                                          len(str(x).split(' '))-1)
feature_df['number_of_white_spaces'].head()

0    4
1    3
2    7
3    3
4    2
Name: number_of_white_spaces, dtype: int64

In [26]:
feature_df.head()

   LS  TO  VBN  ...  number_of_digits  number_of_words  number_of_white_spaces
0   0   0    0  ...                 0                5                       4
1   0   0    0  ...                 0                4                       3
2   0   0    0  ...                 0                9                       7
3   0   0    0  ...                 0                5                       3
4   0   0    0  ...                 0                3                       2

[5 rows x 52 columns]